* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    background-color: blue;
}

.jumbotron {
    background-color: green;
    text-align: center;
}

.img-jumbo {
    max-width: 100%;
}